body {
  font-family: 'Dosis', arial, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2 {
  font-weight: normal;
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -220px;
  /* border: 1px solid red; */
  width: 500px;
  height: 300px;
  color: #3C3C3C;
}

.main-box {
  padding: 10px 0;
}

h1, h2, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #3C3C3C;
}

.main-box a:hover, .github-box a:hover {
  text-decoration: underline;
  color: #51FA98;
}

h1 {
  font-size: 24px;
}


h1 span {
  background-color: #51FA98;
}

ul {
  list-style: none; 
  padding: 2px;
  margin: 6px 0;
}

ul li {
  display: inline-block;
  padding: 0 5px;
}

ul li:first-child: {
  padding-left: none;
}

ul li a {
  color: #51FA98;
  text-decoration: none;
}

.main-text {
  font-size: 36px;
  line-height: 38px;
}

.hashtag-box {
  width: 100%;
  background: #3C3C3C;
}

.github-box {
  margin: 10px 0;
  width: 100%;
  border: 2px solid #3C3C3C;
  padding: 2px 6px;
  font-size: 20px;
}

.github-box p {
  width: 99%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-transform: lowercase;
}

.github-box p span.action {
  font-weight: bold;
  text-transform: uppercase;
}

.box-programming {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  width: 100%;
}

.box-programming span {
  color: #51FA98;
}

.box-links {
  margin-top: 14px;
  width: 100%;
}

.box-links ul {}
.box-links ul li {
  width: 32px;
  height: 32px;
  background: #3C3C3C;
  border-radius: 50%;
  margin-right: 5px;
  overflow: hidden;
  padding: 0;
}

.box-links ul li a {
  display: inline-block;
  width: 32px;
  line-height: 32px;
  text-indent: -9999px;
}

.box-links ul li a.github {
  background: url(../img/github.svg) no-repeat center center;
}

.box-links ul li a.linkedin {
  background: url(../img/linkedin.svg) no-repeat center center;
}

.box-links ul li a.medium {
  background: url(../img/medium.svg) no-repeat center center;
}

@media (max-width: 960px) {

  .page {
    top: 15%;
    right: 0;
    left: 5%;
    bottom: 0;
    margin: 0; 
    position: absolute;
    /* left: 50%; */
    /* margin-left: -250px; */
    /* margin-top: -220px; */
    /* border: 1px solid red; */
    width: 90%;
    height: 300px;
    color: #3C3C3C;
  }
}

