*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  background: #131313;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 26px;
}

a {
  color: #DDDDDD;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  font-size: 0.875em;
  justify-content: center;
  padding: 14px;
}

nav ul {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-row {
  width: 60%;
}

header {
  padding-top: 20px;
}

header h1 {
  font-size: 1.875em;
}

header h2 {
  font-size: 1em;
  font-weight: 500;
  padding: 0;
  margin: 6px 0;
}

header p {
  padding: 0;
  margin: 0;
  color: #A8A8A8;
}

.emphasis {
  padding: 22px 0;
}

.emphasis h1 {
  font-weight: bold;
  font-size: 1.125em;
}

.emphasis a {
  font-weight: 600;
}

.emphasis a:visited {
  color: #fff;
}

.posts {
  margin-top: 30px;
}

.posts h1 {
  font-size: 1.125em;
  text-transform: lowercase;
  padding: 0;
  margin: 0 0 6px 0;
}

.posts ul {
  font-weight: bold;
}

.posts ul li {
  padding: 4px 0;
}

.posts ul li a {
  color: #A8A8A8;
}

.divider {
  height: 1px;
  width: 60%;
  background: #fff;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  .block-row, .divider {
    width: 94%
  }
}
/* 
h1 {
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 4px;
}

h2 {
  font-weight: normal;
  font-size: 1.1em;
  margin: 0;
}

a {
  color: #0000EE;
}

.document-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  margin: 10px 0;
  width: 100%;
  justify-content: center;
}

ul li {
  padding: 0 10px;
}

.img-container {
  width: 250px;
  margin: 0 auto;
}

.list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-content ul {
  padding: 0;
}

.list-content h1 {
  font-size: 1.3em;
  font-weight: bold;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.blog-posts {
  display: flex;
  flex-direction: column;
}

.blog-posts ul {
  display: block;
  text-align: center;
}

.list-content ul li {
  font-size: 1.1em;
  padding-bottom: 10px;
} */